*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 23, 23);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

.container{
    padding: 2em 1em;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo span{
    font-family: 'Arial Black', Arial, sans-serif;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.header-nav ul{
    display: flex;
    gap: 15px;
}

.header-reg a{
    padding: 10px 20px;
    background-color: rgb(155, 105, 13);
    border-radius: 15px;
    transition: 0.3s background-color;
}

.header-reg a:hover{
    background-color: rgb(203, 133, 2);
}

.header-nav ul li::after{
    content: "|";
    margin-left: 10px;
}

.header-nav ul li:last-child::after{
    content: "";
}


nav ul li a{
    transition: 0.3s color;
}

nav ul li a:hover{
    color: rgb(102, 102, 102);
}

main{
    margin-top: 20px;
}

main .container{
    text-align: center;
}

.main-clubs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}

.main-clubs a{
    border: 1px solid white;
    border-radius: 15px;
}

.main-club{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
    width: 16em;
}

.main-clubs a:hover{
    border-color: aqua;
}

/* Articles page */

.article-nav .container{
    padding: 30px 0;
}

.article-nav nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main article h2{
    text-align: center;
    margin: 20px 0;
}

main article{
    text-align: start;
}

.main-article{
    max-width: 1024px;
    margin: 0 auto;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}